@import "../../../css-config/mixins.scss";
@import "../../../css-config/variables.scss";
* {
  font-family: $Inter-fontFamily;
}
.newsletter-section {
  width: 100%;

  background: #f9f9f9
    url("../../../images/26\ Black\ Paper\ Texture\ Backgrounds\ 1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
  h2 {
    color: #e8f9fd;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 70px;
    font-weight: 600;
    line-height: 1.4;
  }
  .newsletter-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 0px 62px;
    // gap: 10px;
    .icon-box {
      text-align: center;
      color: $white;
      .image img {
        width: 80px;
        height: 80px;
      }
      p {
        font-size: 0.9rem;
        font-weight: 300;
        padding: 10px 0;
        // max-width: 200px;
        margin: 0 auto;
        opacity: 0.9;
        @media only screen and (max-width: 768px) {
          width: 240px;
      }
      }
    }
  }
}
