@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
@import "./css-config/mixins.scss";
@import "./css-config/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
.input-error {
    color: red;
    text-transform: capitalize;
    padding-left: 12px;
    font-weight: 100;
    font-size: .9rem;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }


@include sm {
    .container{
        width: 570px;
    }
}
@include md {
    .container{
        width: 760px;
    }
}
@include lg {
    .container{
        width: 970px;
    }
}
@include xl {
    .container{
        width: 1180px;
    }
}
@include xxl {
    .container{
        width: 1340px;
    }
}





