@import "../../css-config/mixins.scss";
@import "../../css-config/variables.scss";

*{
    font-family: $Inter-fontFamily;
}

@media only screen and (max-width: 992px) {
   
}

.single-product-main-content {
    margin: 20px 0;
    @include md {
        margin: 75px 0;
    }
    .layout {
        max-width: calc(100% - 20px);
        margin: 0 auto;
        @include md {
            // max-width: 1200px;
        }
        .single-product-page {
            display: flex;
            gap: 30px;
            @include md {
                flex-direction: row;
            }
            @media only screen and (max-width: 992px) {
                flex-direction: column;
            }
            .left {
                display: flex;
                gap: 5px;
                align-items: center;
                width: 750px;
                height: 600px;
                @media only screen and (max-width: 992px) {
                  flex-direction: column-reverse;
                  width: 100%;
                  height: auto;

                }
                .images-slider{
                    position: relative;
                    height: 600px;
                    @media only screen and (max-width: 992px) {
                        width: 100%;
                        height: auto;
                    }
                    .arrow {
                        position: absolute;
                        background: #0000007a;
                        color: white;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        left: 50%;
                        transform: translateX(-50%);
                        cursor: pointer;
                        :first-child {
                            font-size: 25px;
                            position: absolute;
                            font-size: 25px;
                            top: 18%;
                            left: 20%;
                        }
                    }
                    .up{
                        top: 1%;
                        display: none;
                        @media only screen and (max-width: 992px) {
                            top: 37px;
                            left: 1%;
                            transform: rotate(-90deg);
                            display: none;
                        }
                    
                    }
                    .down{
                        bottom: 1%;
                        @media only screen and (max-width: 992px) {
                            left: auto;
                            right: 1%;
                            top: 37px;
                            transform: rotate(-90deg);
                        }

                    }
                    .seconds-images {
                        
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        overflow: scroll;
                        @media only screen and (max-width: 992px) {
                            flex-direction: row;
                            justify-content: center;
                        }
                        img {
                            width: 90px;
                        }
    
                    }
                    .seconds-images::-webkit-scrollbar {
                        display: none;
                      }
                }
                .main-image{
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.05);
                    flex-shrink: 0;
                    @include md {
                        width: 600px;
                        height: 600px;
                    }
                    @media only screen and (max-width: 992px) {
                        width: 100%;
                        height: auto;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                // @include md {
                //     padding: 0 35px;
                // }
                .name {
                    font-size: 32px;
                    text-transform: capitalize;
                    font-weight: 600;
                    line-height: 28px;
                    margin-bottom: 20px;
                    @include md {
                        font-size: 24px;
                        line-height: 32px;
                    }
                }
                .price {
                    font-size: 20px;
                    line-height: 32px;
                    font-weight: 400;
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                    border-bottom: 2px solid #00000024;
                }
                .inStock,.outStock {
                    color: $green;
                    text-transform: capitalize;
                    margin-bottom: 5px;
                    svg{
                        position: relative;
                        top: 2px;
                        font-size: .8rem;
                    }
                }
                .outStock{
                    color: $red;
                }
                .desc {
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 20px;
                    color: #6b6b6b;
                    @include md {
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 5px;
                        font-weight: 300;
                    }
                }
                .delivery {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 20px;
                    font-weight: 300;
                    color: #6b6b6b;
                    .days {
                        color: $green;
                    }
                }
                .cart-buttons {
                    display: flex;
                    @include md {
                        margin-top: 30px;
                    }
                    .quantity-buttons {
                        width: fit-content;
                        display: flex;
                        border: 2px solid rgba(0, 0, 0, 0.2);
                        margin-right: 10px;
                        height: 50px;
                        span {
                            font-size: 18px;
                            width: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            color: #6b6b6b;
                            &:nth-child(1) {
                                border-right: 2px solid rgba(0, 0, 0, 0.2);
                            }
                            &:nth-child(2) {
                                width: 60px;
                            }
                            &:nth-child(3) {
                                border-left: 2px solid rgba(0, 0, 0, 0.2);
                            }
                        }
                    }
                    .add-to-cart-button {
                        outline: 0;
                        border: 0;
                        height: 60px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        font-size: 16px;
                        color: white;
                        background: $green;
                        flex-grow: 1;
                        transition: .3s;
                        @include md {
                            flex-grow: unset;
                        }
                        svg {
                            margin-right: 10px;
                        }
                        &:hover{
                            background-color: green;
                        }
                    }
                }

                .divider {
                    margin: 20px 0;
                    height: 1px;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.1);
                }

                .info-item {
                    .text-bold {
                        font-size: 18px;
                        font-weight: 500;
                        display: block;
                        &:nth-child(1) {
                            margin-bottom: 20px;
                        }
                        span {
                            font-size: 16px;
                            font-weight: 400;
                            cursor: pointer;
                            color: #6b6b6b;
                        }
                        svg {
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
    }
}
